<li class="response-header clearfix">
    <div class="response-header-name" data-placement="top" data-original-title="{{name}}"
         data-content="{{description}}"
         data-trigger="hover"
         rel="popover">{{name}} &rarr;</div>
    <div class="response-header-value">{{value}}</div>
</li>