<div class="oauth2-access-token-container clearfix" data-id="{{id}}">
	<div class="oauth2-access-token-name-container">
		<a class="oauth2-access-token-name oauth2-access-token-actions-load" data-id="{{id}}"
		data-original-title="Click to add to request"
		data-placement="top"
		rel="tooltip" >{{name}}</a>
	</div>
	<div class="oauth2-access-token-actions">
		<a rel="tooltip" data-original-title="Delete"
		   data-placement="bottom" data-toggle="modal"
		   class="oauth2-access-token-actions-delete" data-id="{{id}}">
		    <img src="img/delete.png" style="vertical-align: middle;"/></a>
	</div>
</div>