<li><a class="environment-list-item-noenvironment" >No environment</a></li>
<li class="divider"></li>
<li><a href="#modal-environments" data-toggle="modal" data-keyboard="true">Manage environments</a></li>