<tr>
    <td>
        <a  class="header-preset-action-edit" data-id="{{id}}">{{name}}</a>
    </td>
    <td style="width: 50px;">
        <a
           data-name="{{name}}"
           rel="tooltip" data-original-title="Delete header preset" data-placement="bottom"
           class="header-preset-action-delete" data-id="{{id}}">
            <img src="img/delete.png" style="vertical-align: middle; width: 20px; height: 20px;"/></a>
    </td>
</tr>
