$font: "Source Sans Pro", Helvetica, Arial, sans-serif;
$input_text_color: #333;
$input_border_color: #ccc;
$input_border_color_focus: #999;
$navbar_height: 45px;

/* Generic */
html, body {
    margin-top: 0;
    margin-left: 0;
    font-family: $font;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a, a:hover {
    cursor: pointer;
}

a:focus {
    outline: 0 !important;
    outline-width: 0 !important;
}

/* Gmail style scrollbar */
::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px
}

::-webkit-scrollbar-track {
    border-width: 0
}


::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 8px;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(50,50,50,.05);
    box-shadow: inset 1px 0 0 rgba(50,50,50,.1);
}
::-webkit-scrollbar-track:horizontal:hover {
    box-shadow: inset 0 1px 0 rgba(50,50,50,.1)
}
::-webkit-scrollbar-track:active {
    background-color: rgba(50,50,50,.05);
    box-shadow: inset 1px 0 0 rgba(50,50,50,.14),inset -1px 0 0 rgba(50,50,50,.07);
}
::-webkit-scrollbar-track:horizontal:active {
    box-shadow: inset 0 1px 0 rgba(50,50,50,.14),inset 0 -1px 0 rgba(50,50,50,.07)
}
::-webkit-scrollbar-thumb {
    background-color: rgba(50,50,50,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 0px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(50,50,50,.1),inset 0 -1px 0 rgba(50,50,50,.07);
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    box-shadow: inset 1px 1px 0 rgba(50,50,50,.1),inset -1px 0 0 rgba(50,50,50,.07);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(50,50,50,.4);
    box-shadow: inset 1px 1px 1px rgba(50,50,50,.25);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(50,50,50,0.5);
    box-shadow: inset 1px 1px 3px rgba(50,50,50,0.35);
}
::-webkit-scrollbar-track {
    border-width: 0 1px 0 6px
}
::-webkit-scrollbar-track:horizontal {
    border-width: 6px 0 1px
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(50,50,50,.035);
    box-shadow: inset 1px 1px 0 rgba(50,50,50,.14),inset -1px -1px 0 rgba(50,50,50,.07);
}
::-webkit-scrollbar-thumb {
    border-width: 0 1px 0 0;
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 0 1px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    box-shadow: inset 1px 0 0 rgba(50,50,50,.14),inset -1px 0 0 rgba(50,50,50,.07);
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    box-shadow: inset 0 1px 0 rgba(50,50,50,.14),inset 0 -1px 0 rgba(50,50,50,.07);
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 0;
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    box-shadow: inset 1px 1px 0 rgba(50,50,50,.14);
}
/* End scrollbar modification */

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}


li {
    .left {
        float: left;
    }

    .right {
        float: right;
    }
}

#container {
    width: 100%;
    margin-top: 45px;
    overflow: auto;
}

.dropdown-menu a {
  cursor: pointer;
}

.overlay {
    position: absolute;
    border: 1px solid red;
    background: #dff;
    margin: -1px;
    z-index: -1;
}