@mixin navbar-text-link {
    color: #999;
    padding-left: 13px;
    padding-top: 14px;
    display: inline-block;
    height: 32px;
    margin-left: 15px;
    padding-right: 13px;
}

@mixin navbar-text-link-hover {
    background: #333;
    color: #AAA;
    text-decoration: none;
}

/*Top bar*/
.postman-navbar {
    border-top: solid 1px #777;
    border-bottom: solid 1px #111;
    position: absolute;
    top: 0;
    left: 0;
    height: $navbar_height;
    width: 100%;
    z-index: 100;

    box-shadow: 0px 3px 5px 0px #CCC;

    background: #444444; /* Old browsers */
    background: -moz-linear-gradient(top,  #444444 0%, #333232 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#333232)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #444444 0%,#333232 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #444444 0%,#333232 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #444444 0%,#333232 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #444444 0%,#333232 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#333232',GradientType=0 ); /* IE6-9 */
}

#logo {
    cursor: pointer;
    margin-top: 14px;
    margin-left: 10px;
    float: left;
}

.navbar-main-navigation {
    display: none;
    float: left;
    margin-left: -28px;
    height: 47px;

    li {
        list-style: none;
        float: left;
    }

    a {
        @include navbar-text-link;
    }

    a:hover {
        @include navbar-text-link-hover;
    }

}

/*Preferences*/
.preferences {
    float: right;

    a.icon {
        font-size: 11px;
        font-weight: bold;
        text-decoration: none;
        margin-right: 9px;
        display: inline-block;
        height: 32px;
        padding-top: 14px;
    }

    img {
        height: 20px;
        vertical-align: middle;
    }

    a.icon:hover {
        text-decoration: none;
    }

    #google-drive-status {
        display: none;

        img {
            height: 23px !important;
            opacity: 0.6 !important;
        }

        img:hover {
            opacity: 1 !important;
        }
    }

    #donate-link {
        display: inline-block;
        @include navbar-text-link;
    }

    #donate-link:hover {
        @include navbar-text-link-hover;
    }

}
