html, body {
    margin-top: 0;
    margin-left: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

a, a:hover {
    cursor: pointer;
}

/*Bootstrap overrides*/
.pills li a {
    font-size: 11px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0 7px;
}

#container {
    height: 100%;
    width: 100%;
}

#sidebar {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
    padding-left: 10px;
    background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEAEA), -webkit-linear-gradient(left, #EAEAEA, #EAEAEA 97%, #DDDDDD);
    z-index: 20;
    width: 340px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar:focus,
#main:focus {
    border: none !important;
    outline: none;
}

#request-method-selector {
    width: 100px;
}

header {
    display: block;
    font-size: 13px;
    min-height: 2em;
    background-color: #333;
    margin-top: 0;
    border-bottom-style: solid;
    border-bottom-color: #222;
    border-bottom-width: 5px;
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.clean-input {
    color: #333 !important;
    padding: 5px !important;
    border: none !important;
    border-bottom: solid thin #ccc !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    outline: none !important;
}

.clean-input:focus {
    outline: 0 !important;
    outline-width: 0 !important;
    border-bottom-color: #999 !important;
}

#main {
    background: #fff;
    float: left;
    padding-bottom: 20px;
    margin-left: 350px;
    min-height: 100%;
}

footer {
    display: block;
    font-size: 12px;
    padding: 10px;
    border-top-style: solid;
    border-top-color: #116284;
    border-top-width: 5px;
    width: 100%;
    height: 40px;
}

header h1 {
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    margin-left: 0;
}

.smallheadertext {
    font-size: small;
    color: #FFF;
    padding-left: 20px;
}

legend {
    color: #4c4c4c;
    padding-top: 10px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}

fieldset {
    border: none;
    margin-left: 0px;
}

.inputText {
    border: 2px solid #cce0e9;
    min-height: 18px;
    width: 100% !important;
    padding: 5px;
}

.input-text-light {
    border-style: none !important;
    border-bottom: 1px solid #CCC !important;
    box-shadow: none;
    border-radius: 0;
    min-height: 18px;
    width: 100% !important;
    padding: 5px;
    padding-left: 0px;
}

.input-text-light:focus {
    border-bottom-color: #999 !important;
    outline: none !important;
    box-shadow: none !important;
}

.headerText {
    font-weight: bolder;
    font-size: 100%;
}

#purl {
    margin-left: 0px;
    margin-top: 5px;
}

#url {
    color: #333;
    border-radius: 0;
}

#header {
    padding: 12px;
    padding-left: 10px;
    margin-left: -12px;
    padding-bottom: 0px;
    padding-top: 17px;
}

#logo {
    float: left;
}

#external-links {
    float: right;
}

#external-links ul li {
    float: left;
    list-style: none;
    margin-left: 5px;
    margin-right: 0;
}

#external-links ul li img {
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

#sidebar-sections {
    padding-top: 10px;
}

#response-data-container {
    background-color: #fff;
}

#response-editors {
    margin-top: -5px;
    margin-left: -10px;
    background: white;
    min-height: 200px;
    padding-left: 10px;
}

#response-editors:focus {
    border: none;
    outline: none !important;
}

#response-headers-container,
#response-cookies-container {
    margin-top: 20px;
    max-width: 1000px;
    font-size: 11px;
    display: none;
}

#response-cookies {
    max-width: 1000px;
    overflow: scroll;
}

#response-data {
    max-height: 1000px;
}

#response-data pre {
    font-family: Consolas, "Andale Mono", monospace;
}

.response-header {
    font-family: Helvetica, arial, sans-serif;
    list-style: none;
    margin-bottom: 5px;
    color: #111;
}

.response-header .response-header-name {
    font-weight: bold;
    color: #555;
}

.response-header-name {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.response-header-value {
    float: left;
}

#responsedata,
#headers,
#body, #code-data {
    font-family: "Consolas", Courier, monospace, sans-serif;
    font-size: 12px;
}

#body {
    height: 200px;
}

#response-status {
    margin-top: 5px;
    float: left;
    margin-left: 30px;
}

#data {
    display: none;
}

#urlencoded-keyvaleditor-container {
    display: none;
}

#body-data-container {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 470px;
    display: none;
}

#body-data-container input {
    padding: 5px;
    border: solid thin #ccc;
    border-radius: 5px;
}

#response-time, #response-status {
    margin-top: 8px;
}

#response-time label, #response-status label {
    display: block;
    width: 120px;
}

.ui-menu-item {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

#response-time .data,
#response-status .data {
    font-size: 10px;
    font-weight: bold;
}

#notification {
    background: #fff;
    display: none;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #afafaf;
}

#notification img {
    vertical-align: middle;
    margin-left: 10px;
}

#credits {
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#credits a {
    background-color: #555;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    border: solid thin #555;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#credits a:hover {
    background-color: #0069D6;
    border: solid thin #0069D6;
    text-decoration: none;
}

li .left {
    float: left;
}

li .right {
    float: right;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

#response-formatting {
    margin-top: 17px;
    margin-bottom: 15px;
    float: left;
}

#response-body-line-wrapping {
    float: left;
}

#response-language {
    float: left;
    margin-left: 5px;
}

#request {
    padding: 0 0 20px 20px;
    border-bottom: solid thin #ccc;
}

#response {
    padding: 0 0 20px 20px;
}

#request-description {
    max-width: 800px;
}

#response {
    display: none;
}

#response fieldset {
    padding-top: 0;
    margin-top: 0;
}

#request-url {
    margin-top: 10px;
    margin-bottom: 5px;
}

#request-url button {
    margin-bottom: 9px;
}

#request-url-wrapper {
    margin-right: -380px;
    width: 100%;
    float: left;
}

#request-url-container {
    margin-right: 380px;
}

#request-modifiers {
    width: 355px;
    float: right;
}

#request-method-container {
    float: left;
    margin-right: 10px;
}

#request-url-buttons-container {
    float: left;
}

#methods {
    height: 40px;
}

#methods ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#methods ul li {
    float: left;
    margin-right: 20px;
}

#headers {
    display: none;
}

.editorFields input {
    margin: 2px;
}

#sidebar-sections ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar-footer {
    background-color: #000;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 350px;
    height: 20px;
    opacity: 0.8;
    z-index: 50;
    text-align: center;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

#sidebar-footer:hover {
    opacity: 1;
}

#sidebar-footer a {
    color: white;
}

#sidebar-footer a:hover {
    text-decoration: none;
}

#sidebar-filler {
    height: 50px;
}

#sidebar-section-data {
    margin-bottom: 50px;
}

#sidebar-section-data ul {
    margin-left: -10px;
}

#sidebar-sections .pills {
    margin-left: -4px;
}

#sidebar-sections .pills .active .a {
    background-color: #333;
}

#response-headers {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0;
}

.hsbarV {
    position: absolute;
    z-index: 100;
    left: 300px;
    width: 8px;
    bottom: 7px;
    top: 2px;
    right: 1px
}

.hsbarV > div {
    position: absolute;
    z-index: 100;
    width: 100%;

    /* The following is probably what you want to customize */
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#aaa), to(#aaa));
    border: 1px solid #aaa;
    -webkit-background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
}

.empty-message {
    margin-top: 5px;
}

#pheaders {
    margin-top: 10px;
    margin-left: 5px;
}

#sidebar-section-collections {
    display: none;
}

#request-actions {
    width: 480px;
}

#request-actions-primary {
    float: left;
}

#request-actions-secondary {
    float: right;
}

#update-request-in-collection {
    display: none;
}

#request-actionsOptions {
    float: right;
}

.actions {
    border: 1px solid #DDD;
}

#modal-import-collection h4 {
    margin-bottom: 10px;
}

#import-collection-url-input {
    width: 90%;
}

#modal-add-to-collection {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -250px;
    display: none;
}

#modal-add-to-collection label {
    margin-right: 20px;
}

#modal-shortcuts {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
    display: none;
}

#modal-spread-the-word {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -250px;
    display: none;
}

#new-collection-container {
}

.sidebar-collection {
    border-bottom: solid thin #DEDEDE;
}

.sidebar-collection-request,
.sidebar-history-request {
    border-radius: 3px;
}

.sidebar-collection-request div {
    padding: 8px;
    padding-left: 20px;
}

.sidebar-history-request div {
    padding: 8px;
}

.sidebar-collection-request:hover,
.sidebar-history-request:hover {
    background-color: #DEDEDE;
    cursor: pointer;
}

.sidebar-collection-head {
    font-weight: bold;
    padding-left: 5px;
}

.sidebar-collection-request a,
.sidebar-collection-request a:hover,
.sidebar-history-request a,
.sidebar-history-request a:hover {
    color: #333;
    text-decoration: none;
}

.sidebar-collection-head:hover {
    background-color: #DEDEDE;
}

.collection-head-actions {
    position: absolute;
    margin-left: 258px;
    z-index: 10;
    display: none;
    padding-top: 4px;
}

.collection-head-actions img {
    opacity: 0.5;
    width: 18px;
    height: 18px;
}

.collection-head-actions img:hover {
    opacity: 1;
}

.request-actions {
    background: -webkit-linear-gradient(top, rgba(222, 222, 222, 0.9) 0%, rgba(222, 222, 222, 1) 100%);
    display: none;
    opacity: 1;
    padding: 5px 0 5px 20px !important;
    position: absolute;
    margin-left: 300px;
}

.request-actions img {
    opacity: 0.5;
    width: 18px;
    height: 18px;
}

.request-actions img:hover {
    opacity: 1;
}

#collection-items .request-actions {
    margin-left: 270px;
    opacity: 1;
}

.sidebar-collection-head-name {
    cursor: pointer;
    padding: 5px;
}

.sidebar-collection-requests {
    display: none;
}

.collection-head-actions span {
    display: block;
    float: left;
    width: 25px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

.form-stacked {
    margin-bottom: 0px;
}

#contributors {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#responseAsIFrame {
    display: none;
}

#response-as-text {
    display: none;
}

#response-as-image {
    display: none;
    margin-top: 20px;
}

#about-postman-social-buttons {
    margin: 5px 0 5px 0;
}

#about-postman-twitter-button,
#about-postman-plus-one-button,
#about-postman-facebook-button {
    float: left;
    margin-right: 10px;
}

.section-options {
    position: absolute;
    margin-left: 200px;
    margin-top: 5px;
}

.section-options img {
    opacity: 0.5;
}

.section-options img:hover {
    opacity: 1;
}

#history-options {
    margin-left: 295px;
}

#collections-options {
    margin-left: 270px;
}

#collections-options {
    display: none;
}

.response-code {
    cursor: pointer;
}

.response-code .data {
    display: inline-block;
}

#message-no-collection,
#message-no-history {
    margin-top: 10px;

}

#response-actions {
    float: left;
    margin-top: 17px;
    margin-left: 10px;
}

#response-pretty-modifiers {
    float: left;
    margin-top: 17px;
    margin-left: 10px;
}

.request-helper-tabs {
    position: absolute;
    margin: 0;
    padding: 0;
}

.request-helper-tabs li {
    float: left;
    font-size: 11px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    border-left: solid thin #ccc;
    border-bottom: solid thin #fff;
    color: #ccc;
    cursor: pointer;
    height: 14px;
}

.request-helper-tabs li:hover {
    color: #333;
}

.request-helper-tabs li.active {
    color: black;
    height: 15px;
}

.request-helper-tabs li:last-child {
    border-right: solid thin #ccc;
}

.request-helper-tabs li:first-child {
    border-left: none;
}

#request-types {
    border-bottom: solid thin #ccc;
    height: 35px;
    margin-left: -20px;
    margin-bottom: 12px;
}

#request-helpers {
    display: none;
    border-bottom: solid thin #ccc;
    margin-left: -20px;
    margin-bottom: 15px;
}

.request-helpers label {
    font-size: 11px;
    font-weight: bold;
}

.request-helpers div.input {
}

.request-helper-form-container {
    float: left;
    width: 400px;
}

.request-helper-form-description {
    float: left;
    color: #555;
    font-size: 11px;
    max-width: 200px;
}

.request-helper-form-description h4 {
    font-size: 12px;
    text-transform: none;
    padding-bottom: 0;
}

.preferences {
    float: right;
    margin-right: 25px;
    margin-top: 5px;
    width: 60px;
}

.preferences a {
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 5px;
}

.preferences img {
    height: 14px;
}

.preferences a:hover {
    text-decoration: none;
}

.cm-link {
    cursor: pointer;
}

.cm-link:hover {
    color: #555 !important;
    text-decoration: none;
}

#environment-quicklook-wrapper {
    float: left;
    margin-top: 2px;
}

#environment-quicklook-content {
    background: white;
    border: solid thin #ccc;
    border-radius: 5px;
    display: none;
    position: absolute;
    min-width: 350px;
    min-height: 40px;
    margin-top: 30px;
    padding: 10px;
    z-index: 10;
}

#environment-quicklook-environments {
    width: 100%;
}

#environment-quicklook-content ul {
    margin: 0;
    padding: 0;
}

#environment-quicklook-content .key {
    font-weight: bold;
}

#environment-quicklook-content li {
    list-style: none;
}

#environment-quicklook-globals {
    border-top: solid thin #ccc;
    margin-top: 5px;
    padding-top: 5px;
    width: 100%;
}

#environment-quicklook img {
    opacity: 0.5;
    width: 20px;
}

#environment-quicklook img:hover {
    opacity: 1;
}

#environment-selector-wrapper {
    position: absolute;
    margin-top: 8px;
    margin-left: 230px;
    font-size: 11px;
}

#environment-selector {
    float: left;
    margin-left: 10px;
}

#environment-importer,
#globals-editor {
    display: none;
}

.environment-selector-label {
    font-weight: bold;
    color: #AAA;
}

.environment-selector-active {
    color: #666;
    font-weight: bold;
}

#environment-editor {
    display: none;
}

#environment-editor-name {
    font-size: 18px;
    font-weight: bold;
}

#modal-environments .modal-footer {
    display: none;
}

#import-collection-dropzone {
    border: 2px dashed #BBB;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
}

#import-collection-dropzone h3 {
    font: 20pt bold "Helvetica";
    color: #BBB;
}

#response-top-bar {
    border-bottom: solid thin #ccc;
    height: 35px;
    margin-left: -20px;
}

.response-tabs {
    margin: 0;
    padding: 0;
    float: left;
}

.response-tabs li {
    float: left;
    font-size: 11px;
    font-weight: bold;
    list-style: none;
    padding: 10px;
    border-left: solid thin #ccc;
    border-bottom: solid thin #fff;
    color: #ccc;
    cursor: pointer;
    height: 14px;
}

.response-tabs li:hover {
    color: #333;
}

.response-tabs li.active {
    color: black;
    height: 15px;
    border-bottom-color: #fff;
}

.response-tabs li:last-child {
    border-right: solid thin #ccc;
}

.response-tabs li:first-child {
    border-left: none;
}

#response-tabs-cookies {
    display: none;
}

#data-mode-selector {
    margin-bottom: 5px;
}

#request-meta {
    margin-left: -20px;
    padding-left: 20px;
    border-bottom: solid thin #ccc;
    display: none;
}

.request-meta-actions {
    position: absolute;
    margin-left: -17px;
    margin-top: 2px;
    display: none;
}

.ui-autocomplete {
    z-index: 300 !important;
}

.request-meta-actions img {
    width: 14px;
    height: 14px;
}

#request-name {
    margin-bottom: 5px;
}

#modal-spread-the-word a {
    font-weight: bold;
}

#new-request-description {
    height: 100px;
}

#sidebar-toggle {
    position: fixed;
    bottom: 0;
    left: 350px;
    opacity: 0.5;
    z-index: 100;
    cursor: pointer;
    height: 24px;
    width: 16px;
    background: #ccc;
    border-top-right-radius: 5px;
    padding-top: 6px;
    padding-left: 3px;
}

#sidebar-toggle img {
    width: 10px;
    height: 10px;
}

#sidebar-toggle:hover {
    opacity: 1;
}

#url-keyvaleditor-container,
#headers-keyvaleditor-container {
    margin-bottom: 10px;
}

#environments-list-help-detail {
    display: none;
}

#connection-error-url {
    font-weight: bold;
}

.label-method-GET,
.label-method-get {
    background-color: #4DAB58;
}

.label-method-POST,
.label-method-post {
    background-color: #CC9900;
}

.label-method-DELETE,
.label-method-delete {
    background-color: #C30;
}

.label-method-PUT,
.label-method-put {
    background-color: #36F;
}

#share-collection-link {
    display: none;
}

/* CodeMirror overrides */
.CodeMirror pre {
    font-family: Consolas, "Andale Mono", monospace;
}

.CodeMirror-gutter-text {
    cursor: pointer;
    padding-left: 1em !important;
}

.CodeMirror-scroll {
    height: auto !important;
    overflow: visible !important;
}

#response-as-preview {
    display: none;
    margin-top: 5px;
}

#response-as-preview iframe {
    border: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    margin-top: 5px;
}