.keyvalueeditor-key,
.keyvalueeditor-value
{
    padding: 5px;
    border: none;
    box-shadow: none;
    border-bottom: solid thin #CCC;
    border-radius: 0;
    outline: none !important;
    margin-right: 10px;
}

.keyvalueeditor-key:focus,
.keyvalueeditor-value:focus {
    border-color: #999;
    outline: none !important;
}