html, body {
    margin-top: 0;
    margin-left: 0;
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin:  0;
}

#container {
    height: 100%;
    width: 100%;
}

#sidebar {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    float: left;
    padding-left: 10px;
    background: -webkit-linear-gradient(rgba(234, 238, 243, 0.2), #EAEAEA), -webkit-linear-gradient(left, #EAEAEA, #EAEAEA 97%, #DDDDDD);
    z-index: 1;
    width: 340px;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

#sidebar:focus,
#main:focus {
    border: none !important;
    outline: none;
}

header {
    display: block;
    font-size: 13px;
    min-height: 2em;
    background-color: #333;
    margin-top: 0;
    border-bottom-style: solid;
    border-bottom-color: #222;
    border-bottom-width: 5px;
    height: 50px;
    position: absolute;
    width: 100%;
    z-index: 2;
}

#main {
    background: #fff;
    float: left;
    padding-bottom: 20px;
    margin-left: 350px;
    min-height: 100%;
}

footer {
    display: block;
    font-size: 12px;
    padding: 10px;
    border-top-style: solid;
    border-top-color: #116284;
    border-top-width: 5px;
    width: 100%;
    height: 40px;
}

header h1 {
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    margin-left: 0;
}

.smallheadertext {
    font-size: small;
    color: #FFF;
    padding-left: 20px;
}

/*
.radio {
    width:2em;
    height:2em;
    color:#e3e3e3;
    background-color:#cce0e9;
}
*/
legend {
    color: #4c4c4c;
    padding-top: 10px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}

fieldset {
    border: none;
    margin-left: 0px;
}

.inputText {
    border-color: #cce0e9;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    min-height: 18px;
    width: 100% !important;
    padding: 5px;
}

#request h4 {
    padding-bottom: 5px;
    text-transform: uppercase;
}

.headerText {
    font-weight: bolder;
    font-size: 100%;
}

#purl {
    margin-left: 0px;
    margin-top: 5px;
}

#url-ParamsEditor,
#body-ParamsEditor,
#headers-ParamsEditor {
    display: none;
}

#editParamsButton {
}

.labelText {
    color: #4c4c4c;
    font-size: 95%;
    font-weight: bold;
}

.blueButton {
    background-color: #e2f0f5;
    background-image: -webkit-linear-gradient(#e5f1f6, #cfe6ee);
    box-shadow: 0px 0px 10px #cfe6ee;
    color: #6b97a8;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #6b97a8;
    border-width: 1px;
    font-weight: bolder;
    font-size: small;
    text-align: center;
}

#bluebuttonlayout {
    border-top: thin solid #CCC;
    margin-top: 14px;
    padding-top: 20px;
}

.infoText {
    color: #0074a5;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
}

.historyItemSelected {
    background-color: #414141;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#historyItems {
    display: none;
}

.historyItem {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.editTextButton {
    color: #fff;
    background-color: #535353;
    background-image: -webkit-linear-gradient(#5e5e5e, #1e1e1e);
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 70%;
    font-weight: bolder;
    box-shadow: 0px 0px 5px #535353;
}

#header {
    padding: 12px;
    padding-left: 10px;
    margin-left: -12px;
    padding-bottom: 0px;
    padding-top: 17px;
}

#logo {
    float: left;

}

#mainNavigation {
    float: right;
    margin-right: 7px;
}

#mainNavigation ul li {
    float: left;
    list-style: none;
    margin-right: 3px;
}
#mainNavigation a {
    color: white;
    padding: 5px;
    font-size: 11px;
    background: #BBB;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#mainNavigation a:hover {
    background: #0069D6;
    text-decoration: none;
}

#sidebarContainer {
    padding-top: 10px;
}

#responseData {
    margin-top: 10px;
}

#respHeaders:focus,
#responseHeaders:focus,
#respHeadersContent:focus,
#responseData:focus {
    border: none;
    outline: none !important;
}

#respHeaders {
    margin-top: 20px;
    max-width: 1000px;
}

#respHeaders textarea {
    min-height: 125px;
}

#respData {
    max-height: 1000px;
}

#respData pre {
    font-family: Consolas, monospace;
}

.CodeMirror-gutter-text {
    cursor: pointer;
    padding-left: 1em !important;
}

.responseHeader {
    font-family: Helvetica, arial, sans-serif;
    list-style: none;
    margin-bottom: 5px;
    color: #111;
}

.responseHeader .responseHeaderName {
    font-weight: bold;
    color: #555;
}

.responseHeaderName {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}

.responseHeaderValue {
    float: left;
}

#responsedata,
#headers,
#body, #codeData {
    font-family: "Consolas", Courier, monospace, sans-serif;
    font-size: 12px;
}

#codeData {
}

#pstatus {
    margin-top: 5px;
    float: left;
    margin-left: 20px;
}

#pbodysize {
    margin-top: 10px;
}

.paramsEditor {
    margin-bottom: 10px;
    width: 625px;
}

.paramsEditor .actions {
    width: 550px;
    margin-bottom: 10px;
}

.paramsEditor h4 {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.paramsEditor input {
    padding: 5px;
}

.paramsEditor .key,
.paramsEditor .value {
    padding: 5px;
    border: solid thin #ccc;
    border-radius: 5px;
}

.paramsEditor .file {
    padding: 0px 5px 0px 5px;
}

.paramsEditor .key {
    width: 257px;
}

.paramsEditor .value {
    width: 240px;
}

.paramsEditor select {
    padding: 3px;
    border-radius: 5px;
    border-color: #CCC;
    width: 65px;
}

.paramsEditor .deleteButton {
    margin-left: 10px;
    margin-top: 6px;
    float: right;
}

#bodyFileButton {
    opacity: 0.5;
}

#data {
    margin-top: 10px;
}

#bodyDataContainer {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 580px;
}

#bodyDataContainer input {
    padding: 5px;
    border: solid thin #ccc;
    border-radius: 5px;
}

#ptime, #pstatus {
    margin-top: 10px;
}

#ptime label, #pstatus label {
    display: block;
    width: 120px;
}

.ui-menu-item {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

#responsePrint .data {
    font-size: 10px;
    font-weight: bold;
}

#notification {
    background: #fff;
    display: none;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    position: absolute;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #afafaf;
}

#notification img {
    vertical-align: middle;
    margin-left: 10px;
}

#credits {
    float: right;
    margin-right: 10px;
    margin-top: 18px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#credits a {
    background-color: #555;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    border: solid thin #555;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

#credits a:hover {
    background-color: #0069D6;
    border: solid thin #0069D6;
    text-decoration: none;
}

li .left {
    float: left;
}

li .right {
    float: right;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}

#langFormat {
}

#request,
#response {
    padding: 20px;
    padding-top: 7px;
    padding-bottom: 0px;
}

#requestUrl {
    margin-top: 10px;
}

#methods {
    height: 40px;
}

#methods ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#methods ul li {
    float: left;
    margin-right: 20px;
}

#headers {
}

.editorFields input {
    margin: 2px;
}

#sidebarContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebarSectionContainer ul {
    margin-left: -10px;
}

#sidebarContainer .pills {
    margin-left: -4px;
}

#sidebarContainer .pills .active .a {
    background-color: #333;
}

#respHeadersContent {
    margin-top: 10px;
    margin-bottom: 15px;
}

#responseAsIFrame {
    width: 100%;
}

#codeIFrame {
    width: 100%;
    border: none;
}

.hsbarV {
    position: absolute;
    z-index: 100;
    left: 300px;
    width: 8px;
    bottom: 7px;
    top: 2px;
    right: 1px
}

.hsbarV > div {
    position: absolute;
    z-index: 100;
    width: 100%;

    /* The following is probably what you want to customize */
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#aaa), to(#aaa));
    border: 1px solid #aaa;
    -webkit-background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -webkit-border-radius: 4px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5);
}

#headers-ParamsEditor {
    margin-top: 15px;
    width: 625px;
}

#requestUrl {
    margin-bottom: 10px;
}

#pheaders {
    margin-top: 10px;
}

#emptyHistoryMessage {
    display: none;
}

#sidebarSection-collections {
    display: none;
}

#requestActions {
    width: 550px;
}

#requestActionsMain {
    float: left;
}

#requestActionsOptions {
    float: right;
}

.actions {
    border: 1px solid #DDD;
}

#formModalAddToCollection {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    display: none;
}

#formModalAddToCollection label {
    margin-right: 20px;
}

#modalAboutPostman {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    display: none;
}

#newCollectionContainer {
}

.sidebarCollection {
    border-bottom: solid thin #DEDEDE;
}

.sidebarCollectionRequest,
.sidebarHistoryRequest {
    border-radius: 3px;
}

.sidebarCollectionRequest div {
    padding: 8px;
    padding-left: 20px;
}

.sidebarHistoryRequest div {
    padding: 8px;
}

.sidebarCollectionRequest:hover,
.sidebarHistoryRequest:hover {
    background-color: #DEDEDE;
    cursor: pointer;
}

.sidebar-collection-head {
    font-weight: bold;
    padding-left: 5px;
}

.sidebarCollectionRequest a,
.sidebarCollectionRequest a:hover,
.sidebarHistoryRequest a,
.sidebarHistoryRequest a:hover {
    color: #333;
    text-decoration: none;
}

.sidebar-collection-head:hover {
    background-color: #DEDEDE;
}

.collection-head-actions {
    position: absolute;
    margin-left: 260px;
    z-index: 10;
    display: none;
    padding-top: 4px;
}

.collection-head-actions img {
    opacity: 0.5;
}

.collection-head-actions img:hover {
    opacity: 1;
}

.request-actions {
    position: absolute;
    margin-left: 300px;
    z-index: 10;
    opacity: 0.5;
    display: none;
}

.request-actions:hover {
    opacity: 1;
}

.sidebar-collection-head-name {
    cursor: pointer;
    padding: 5px;
}

.sidebar-collection-requests {
    display: none;
}

.collection-head-actions span {
    display: block;
    float: left;
    width: 35px;
    text-align: center;
    margin-right: 5px;
    cursor: pointer;
}

#url-ParamsEditor .key,
#headers-ParamsEditor .key {
    width: 282px;
}

#url-ParamsEditor .value,
#headers-ParamsEditor .value {
    width: 281px;
}

.form-stacked {
    margin-bottom: 0px;
}

#contributors {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

#responseAsIFrame {
    display: none;
}

#responseAsImage {
    display: none;
}

#aboutPostmanSocialButtons {
    margin-top: 20px;
    margin-bottom: 10px;
}

#aboutPostmanTwitterButton,
#aboutPostmanPlusOneButton,
#aboutPostmanFacebookButton {
    float: left;
    margin-right: 10px;
}

#historyOptions {
    position: absolute;
    margin-left: 270px;
    margin-top: 10px;
}

#historyOptions a {
    font-size: 10px;
    font-weight: bold;
    background: #afafaf;
    color: #fff;
    border-radius: 3px;
    padding: 4px;
}

#historyOptions a:hover {
    background: #0069D6;
    text-decoration: none;
}

.responseCode {
    cursor: pointer;
}

.responseCode .data {
    display: inline-block;
}