html, body {
    background: #eaeaea;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    display: block;
    font-size: 13px;
    min-height: 2em;
    background-color: #0074a5;
    margin-top: 0;
    border-bottom-style: solid;
    border-bottom-color: #116284;
    border-bottom-width: 5px;
    height: 70px;
    width: 100%;
}

footer {
    display: block;
    font-size: 12px;
    padding:  10px;
    border-top-style: solid;
    border-top-color: #116284;
    border-top-width: 5px;
    width: 100%;
    height: 40px;
}

header h1 {
    height: 30px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFF;
    margin-left: 0;
}

.smallheadertext {
    font-size: small;
    color: #FFF;
    padding-left: 20px;
}

/*
.radio {
    width:2em;
    height:2em;
    color:#e3e3e3;
    background-color:#cce0e9;
}
*/
legend {
    color: #4c4c4c;
    padding-top: 10px;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
}

fieldset {
    border: none;
    margin-left: 0px;
}

.inputText {
    border-color: #cce0e9;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    min-height: 18px;
    width: 100% !important;
    padding: 5px;
}

#container {
    background: #eaeaea;
    height: 100%;
}

#request h4 {
    padding-bottom: 5px;
    text-transform: uppercase;
}

.headerText {
    font-weight: bolder;
    font-size: 100%;
}

#historyItems {
    list-style: none;
}

#purl {
    margin-left: 0px;
    margin-top: 5px;
}

#url-ParamsEditor,
#body-ParamsEditor,
#headers-ParamsEditor {
    display: none;
}

#editParamsButton {
}

.labelText {
    color: #4c4c4c;
    font-size: 95%;
    font-weight: bold;
}

.buttonLayout {
}

.blueButton {
    background-color: #e2f0f5;
    background-image: -webkit-linear-gradient(#e5f1f6, #cfe6ee);
    box-shadow: 0px 0px 10px #cfe6ee;
    color: #6b97a8;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: #6b97a8;
    border-width: 1px;
    font-weight: bolder;
    font-size: small;
    text-align: center;
}

#bluebuttonlayout {
    border-top: thin solid #CCC;
    margin-top: 14px;
    padding-top: 20px;
}

.infoText {
    color: #0074a5;
    font-size: 70%;
    font-weight: bold;
    text-decoration: none;
}

.historyItemSelected {
    background-color: #414141;
    color: #fff;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.historyItem {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.editTextButton {
    color: #fff;
    background-color: #535353;
    background-image: -webkit-linear-gradient(#5e5e5e, #1e1e1e);
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 70%;
    font-weight: bolder;
    box-shadow: 0px 0px 5px #535353;
}

#logo {
    padding: 20px;
    float: left
}

#historyContainer {
    padding-top: 10px;
}

#responseData {

}

#responseData pre {
    border-color: #cce0e9;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    min-height: 30px;
    max-height: 500px;
    width: 100% !important;
    padding: 5px;
    overflow: scroll;
}

#respHeaders {
    margin-top: 20px;
}

#responseHeaders,
#responsedata,
#headers,
#body, #codeData {
    font-family: "Consolas", Courier, monospace, sans-serif;
    font-size: 12px;
}

#historyItems {
    margin-left: -10px;
}
#historyItems li {
    margin-right: 7px;
    padding: 8px;
    border-radius: 5px;
}

#historyItems li:hover {
    background-color: #ccc;
}

#historyItems li a {
    color: #333;
    font-size: 12px;
    text-decoration: none;
}

.itemDeleteLink {
    position: absolute;
    height: 12px;
    margin-top: -2px;
    margin-left: -30px;
    display: none;
}

.itemLink {
    display: block;
}

.itemRequestType {
    background: #2f2f2f;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    margin-left: 300px;
    margin-top: -5px;
    display: none;
}

#pstatus {
    margin-top: 5px;
}

#pheaders {
    margin-top: 20px;
}

.paramsEditor {
    margin-bottom: 10px;
}

.paramsEditor h4 {
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.paramsEditor input {
    padding: 5px;
}

.paramsEditor .key,
.paramsEditor .value {
    padding: 5px;
    border: solid thin #ccc;
    border-radius: 5px;
}

.paramsEditor .value {
    width: 240px;
}

.paramsEditor select {
    padding: 3px;
    border-radius: 5px;
    border-color: #CCC;
}

.paramsEditor .deleteButton {
    margin-left: 10px;
    margin-top: 2px;
}

#bodyFileButton {
    opacity: 0.5;
}

#bodyRawButton {
    opacity: 0.5;
}

#bodyDataContainer {
    margin-top: 20px;
}

#bodyDataContainer input {
    padding: 5px;
    border: solid thin #ccc;
    border-radius: 5px;
}

#ptime, #pstatus {
    margin-top: 10px;
}

#ptime span,
#pstatus span {
    font-size: 12px;
    color: #333;
}

#ptime label, #pstatus label {
    display: block;
    width: 120px;
}

.ui-menu-item {
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
}

#notification {
    background: #fff;
    display: none;
    padding: 5px;
    padding-top: 10px;
    border-radius: 5px;
    width: 120px;
    position: absolute;
    text-align: center;
    margin-left: 20px;
    margin-top: -12px;
    font-size: 16px;
    font-weight: bold;
    color: #afafaf;
}

#notification img {
    vertical-align: middle;
    margin-left: 10px;
}


#credits {
    float: right;
    margin-right: 20px;
    margin-top: 35px;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
}

#credits a {
    background-color: #222;
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    border: solid thin #222;
    text-decoration: none;
    font-weight: bold;
}

#credits a:hover {
    background-color: #555;
    border: solid thin #555;
    text-decoration: none;
}

li .left {
    float: left;
}

li .right {
    float: right;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .clearfix {
    zoom: 1;
}


#langFormat {
    position: absolute;
    margin-top: -20px;
    margin-left: 100px;
}

#main {
    background:  #fff;
    margin-left: 300px;
    height: 100%;
}

#history {
    max-width: 300px;
    width: 300px;
}

#container {
    padding-right: 0px;
    padding-left: 15px;
}

#request {
    padding:  20px;
    padding-top: 10px;
}

#requestUrl {
    margin-top: 10px;
}

#methods {
    height: 40px;
}

#methods ul {
    list-style: none;
    padding:  0;
    margin:  0;
}
#methods ul li {
    float: left;
    margin-right: 20px;
}

#headers {
    display: none;
}

#pheaders {
    height: 40px;
}

.editorFields input {
    margin:  2px;
}

#historyContainer ul {
    margin-left: -5px;
    margin-bottom: 5px;
}

#historyContainer .pills .active .a {
    background-color:  #333;
}